<html>
<head>
  <meta charset="utf-8">
  <title>Google Maps Test</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

  <script>
      var busStopApp = angular.module('busStopApp', []);
  </script>

  <style>
    body {
      margin: 0 0 20px 0;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .flexbox {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 80%;
    }

    .google-map{
      width: 100%;
      height: 70%;
      display: block;
    }

    h3 {
      margin-left: 10px;
    }

    th, td {
      padding: 3px 10px;
      text-align: left;
    }
  </style>
</head>
<body ng-app="busStopApp">
  <google-map class="google-map" locations="{{busStopList}}" lat="50.81112" long="-0.08743"></google-map>

  <h3>Controller Tests</h3>

  <div class="flexbox">
    <table ng-controller="BusStopController as busstops">
      <tr>
        <th>Name</th>
        <th>Longitude</th>
        <th>Latitude</th>
      </tr>
      <tr ng-repeat="stop in busstops.busStopList">
        <td>{{stop.stop_name}}</td>
        <td>{{stop.longitude}}</td>
        <td>{{stop.latitude}}</td>
      </tr>
    </table>

    <table ng-controller="BusDeparturesController as busdepartures">
      <tr>
        <th>Name</th>
        <th>Longitude</th>
        <th>Latitude</th>
      </tr>
      <tr ng-repeat="departures in busdepartures.busDeparturesList['135']">
        <td>{{departures.line}}</td>
        <td>{{departures.direction}}</td>
        <td>{{departures.best_departure_estimate}}</td>
      </tr>
    </table>
  </div>

  <script src="services/busStopsService.js"></script>
  <script src="services/busDeparturesService.js"></script>
  <script src="services/googleMapLoadingService.js"></script>
  <script src="contollers/busStopController.js"></script>
  <script src="contollers/busDeparturesController.js"></script>
  <script src="directives/googleMap.js"></script>

</body>
</html>